:root {
    --fundo-texto-selecionado-escuro: #00335e;
    --cor-texto-claro: #eeeeee;
    --cor-texto-escuro: #444444;
    --cor-fundo-escuro: #00447c;
    --cor-fundo-claro: #f7f0d4ef;
    --cor-item-contato-escuro: #002544;
    --cor-item-contato-claro: #63a1d4;
    --cor-contato-sombra: #00000066;
}